.main-nav {
    display: flex;
    background-color: rgb(27, 91, 42);
    padding: 10px 50px;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    z-index: 3;

    img {
        height: 40px;
        width: 40px;
    }

    .left-nav {
        display: flex;
        align-items: center;

        a {
            color: white;
            margin-right: 20px;
            &:hover {
                text-decoration: underline;
                border-radius: 7px;
                opacity: 1;
                transition: 0.25s opacity;
            }
        }

        .current-survey {
            margin-right: 20px;
            background-color: white;
            color: black;
            padding: 5px 10px;
            border-radius: 10px;
            font-weight: bolder;
        }

        @include for-normal-layout {
        }

        @include for-mobile-layout {
            display: none;
        }
    }

    .right-nav {
        .toggle-btn {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
    }
    .menu-btn {
        display: none;
        color: white;

        @include for-mobile-layout {
            display: block;
            color: white;
        }
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        z-index: 10;
        position: fixed;
        top: 0%;
        left: 0;
        animation: nav-slide 0.5s;
        height: 100vh;
        padding: 0 30px;
        font-size: 2rem;

        a {
            color: rgb(38, 38, 38);
            border-bottom: 1px solid rgb(193, 193, 193);
            text-align: center;
        }

        p {
            margin-top: 20px;
            text-align: center;
            font-weight: bolder;
            font-size: 2.5rem;
        }
    }

    @keyframes nav-slide {
        0% {
            left: -500px;
        }
        100% {
            left: 0;
        }
    }
}

.background-menu {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

.login-profile {
    user-select: none;
    position: relative;
    cursor: pointer;
    padding: 10px 10px 3px 10px;
    border: 1px solid black;
    border-radius: 25px;
    user-select: none;
    background-color: white;
    z-index: 2;

    @include for-mobile-layout {
        padding: 9px 6px 1px 6px;
    }

    & > img {
        height: 20px;
        width: 20px;
        animation: funny 0.5s;

        @include for-mobile-layout {
            height: 18px;
            width: 18px;
        }

        @keyframes funny {
            0% {
                transform: rotate(90deg);
            }

            100% {
                // transform: rotate(0deg);
            }
        }
    }
}

.user-dropdown {
    font-size: rem(14px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60px;
    left: -40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    z-index: 101;
    animation: toggle-drop 0.2s;

    @include for-narrow-layout {
        left: -30px;
    }

    @keyframes toggle-drop {
        0% {
            opacity: 30%;
            margin-top: -20px;
        }

        100% {
            margin-top: 10px;
            opacity: 100%;
        }
    }

    .dropdown-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100px;

        // @include for-mobile-layout {
        //     width: 60px;
        // }

        & a,
        p {
            width: 100%;
            border-radius: 0;
            align-self: center;
            padding: 5px 10px;
            margin: 5px 0;
            text-align: center;
        }

        & a:hover {
            width: 100%;
            background-color: hsla(0, 0%, 88.6%, 0.363);
        }
    }
}
