.upload-container {
    direction: rtl;
    margin-bottom: 10px;
    #file-upload-button {
        border: none;
        background-color: none;
    }
    
    label {
        font-size: 1.25em;
        padding: 10px;
        border-radius: 10px;
        font-weight: 700;
        color: white;
        background-color: rgb(255, 42, 42);
        display: inline-block;
        cursor: pointer;
        // &:hover {
            //     background-color: red;
            // }
        }
    }
    
    .upload-btn {
        display: flex;
        justify-content: center;
        background-color: cadetblue;
        font-size: 1.5rem;
        color: white;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        border-radius: 10px;
    }