.trees-images {
    justify-content: space-between;
    margin-top: 50px;

    width: 80vw;
    right: 0;
    left: 0;
    margin: 5% auto;
    flex-wrap: wrap;
}

.image-card {
margin-bottom: 30px;
margin-right: 10px;
text-align: center;
font-weight: bold;
    img {
        margin-top: 10px;
        width: 200px;
        height: 230px;
        object-fit: cover;
    }

    @include for-narrow-layout{
        
    }
}
