.tree-preview {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 150px;
    top: 1470px;
    background-color: beige;

    img {
        width: 200px;
        height: 200px;
       object-fit: contain;
       margin-top: 10px;

    }

    .close-preview {
        display: flex;
        position: absolute;
        align-items: center;
        background-color: red;
        color: #ffff;
        left: 10px;
        text-align: center;
        padding: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
    }

    .tree-info {
        display: flex;
        flex-direction: column;
    }

    .options{
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
        div{
            &:last-child{
                background-color: rgb(33, 89, 174);
            }
            background-color: rgb(255, 0, 0);
            color: white;
        }
    }



    @include for-mobile-layout {
        position: fixed;
        background-color: beige;
        top: 37%;
        right: 88px;
   }
}
