//HELPERS

.text-center {
  text-align: center;
}

.button {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 2rem;
  min-width: 150px;
  text-align: center;

  &:hover {
    animation: btn-hover 0.2s;
    transform: scale(1.03);
  }

  @keyframes btn-hover {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.03);
    }
  }
  

}

.btn {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #fce38a;
  font-weight: 600;
  color: #232323;
  border: 0;
  cursor: pointer;
}

.fixed {
  position: fixed;
}

.rtl {
  direction: rtl;
}

.flex {
  display: flex;

  > *.full {
    flex: 1;
  }

  &.column {
    flex-direction: column;
  }

  &.end {
    justify-content: flex-end;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.space-evenly {
    justify-content: space-evenly;
  }
}

// Font Sizes
.fs12 {
  font-size: rem(12px);
}

.fs14 {
  font-size: rem(14px);
}

.fs18 {
  font-size: rem(18px);
}

.fs20 {
  font-size: rem(20px);
}

.fs24 {
  font-size: rem(24px);
}

.fs28 {
  font-size: rem(28px);
}

.fs30 {
  font-size: rem(30px);
}

// COLORS

.red {
  background-color: red;
  color: white;
}

.yellow {
  background-color: yellow;
  color: black !important;
}

.blue {
  background-color: blue;
  color: white !important;
}

.white{
  background-color: white ;
  color: #232323 !important;
}


.green {
  background-color: green !important;
  color: white;
}
.orange {
  background-color: orange;
  color: white;
}

.grey {
  background-color: rgb(79, 79, 79);
  color: white;
}
