
.choose-section {
    margin-top: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .back-btn {
        margin-top: 20px;
        background-color: $clr1;
        color: white;
    }

    .next-btn {
        margin-top: 20px;
        background-color: $clr2;
        color: white;
    }
}
