.home-container {
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
    height: 93vh;
    background-color: rgba(0, 0, 0, 0.666);
    // background-image: url('/imgs/wallpaper.jpg');
    background-blend-mode: overlay;
    .new-survey {
        margin-top: 82px;
        font-size: 2em;
        margin-top: 20px;
        padding: 10px;
        border-radius: 10px;
        background-color: brown;
        color: white;
    }
    .existing-survey {
        font-size: 2em;
        margin-top: 20px;
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(15, 116, 156);
        color: white;
    }
}

.new-survey {
    display: flex;
    flex-direction: column;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        > label {
            margin-top: 20px;
        }
    }

    .add-btn {
        margin-top: 20px;
        background-color: rgb(13, 70, 8);
        color: white;
    }
}
