.autocomplete-container {
    z-index: 3;
    border: 1px #dadce0 solid; 
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    font-size: 1.5em;
    margin-top: 10px;
    .tree-option {
        cursor: pointer;
        &:hover {
            background-color: rgb(243, 243, 243);
        }
    }
}

.autocomplete-form {
    // margin-bottom: 10px;
    margin: 10px 0;

    input {
        outline: none;
        border: none;
        border-bottom: 1px solid #202124;
    }
}
