#main-table{
    th{
        background-color: green;
    }
}
.trees-table{
    justify-content: center;
    margin-top: 50px;
    direction: rtl;
    table{
        // border: 1px solid black;
        border-spacing: 0px;
        tr{
            th{
                border: 1px black solid;
                text-align: center;
                padding: 6px;
                color: white;
            }
            
            td{
                text-align: center;
                padding: 3px;
                border: 1px black solid;
            }
        }

        .edit-btn{
            margin:10px;
            background-color: brown;
            color: white;
        }
    }

    .download-table{
        margin-top: 10px;
        border: 1px solid black;
        outline: none;
        background-color: darkgreen;
        color: white;
        border-radius: 10px;
        padding: 10px;

    }
}